# Exclude cmake build directories
cmake-build*./**
**/local\.cmake
**/\.idea
build/**
.vscode/ipch*
PSoC_Creator.cydsn/codegentemp/**
PSoC_Creator.cydsn/CortexM3/**
PSoC_Creator.cydsn/PSoC_Creator.cyprj.Rolf
PSoC_Creator.cydsn/PSoC_Creator.cywrk.Rolf
!PSoC_Creator.cydsn/CortexM3/ARM_GCC_541/Debug/PSoC_Creator.a