# Exclude cmake build directories
cmake-build*./**
**/local\.cmake
**/\.idea
build/**
.vscode/ipch*
Onethinx_Creator.cydsn/codegentemp/**
Onethinx_Creator.cydsn/CortexM0p/**
Onethinx_Creator.cydsn/CortexM4/**
